In [1]:
import numpy as np
import pandas as pd

# pip3 install pandas ipython jupyter

In [2]:
# Alumnos

alumnos = pd.read_csv('input/alumnos.csv', sep=',', index_col=0, lineterminator='\n')
alumnos.head()

         attr1  attr2  attr3  attr4  attr5  attr6  attr7  attr8  attr9  attr10
alumnos
alumno1      0      1      2      3      4      5      6      7      8       9
alumno2      1      2      3      4      5      6      7      8      9      10
alumno3      2      3      4      5      6      7      8      9     10      11
alumno4      3      4      5      6      7      8      9     10     11      12
alumno5      4      5      6      7      8      9     10     11     12      13

In [3]:
alumnos.loc['alumno1', 'attr2']

1

In [4]:
# empresas

empresas = pd.read_csv('input/empresas.csv', sep=',', index_col=0, lineterminator='\n')
empresas.head()

,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr10
empresas,,,,,,,,,,
empresa1,0,1,2,3,4,5,6,7,8,9
empresa2,1,2,3,4,5,6,7,8,9,10
empresa3,2,3,4,5,6,7,8,9,10,11
empresa4,3,4,5,6,7,8,9,10,11,12
empresa5,4,5,6,7,8,9,10,11,12,13

In [25]:
# Matching

PESOS = {'attr1' : 2, 
         'attr2' : 1, 
         'attr3' : 1, 
         'attr4' : 1, 
         'attr5' : 3, 
         'attr6' : 1, 
         'attr7' : 1, 
         'attr8' : 1,
         'attr9' : 1, 
         'attr10' : 3
        }

def distancia_ponderada(a, b, p): 
    return p*(a-b)**2

def match(alumno, empresa, pesos=PESOS): 
    res = [distancia_ponderada(x, y, p) for x, y, p in zip(alumno, empresa, pesos.values())]
    return res

In [27]:
match(alumnos.loc['alumno2'], empresas.loc['empresa1'])

[2, 1, 1, 1, 3, 1, 1, 1, 1, 3]

In [19]:
PESOS = (alumnos.columns)
PESOS

Index(['attr1', 'attr2', 'attr3', 'attr4', 'attr5', 'attr6', 'attr7', 'attr8',
       'attr9', 'attr10'],
      dtype='object')

# Emparejamiento

En cada ronda se crea una pareja alumno-empresa empezando por el mejor %. Luego se pasa al siguente alumno. Si la empresa que hac√≠a mejor match es la del caso anterior, pasa a su segundo mejor match, etc. 

En cada ronda se cambia el estudiante que elige primero, entre los que no han ido primeros

In [6]:
# !jupyter kernelspec list
# import sys
# sys.path

In [7]:
# https://es.wikipedia.org/wiki/Sistema_de_todos_contra_todos