In [1]:
# Imports
import numpy as np
import pandas as pd

from scipy.spatial import distance
# from sklearn.preprocessing import MinMaxScaler

# pip3 install pandas ipython jupyter

In [2]:
# Alumnos

STUDENTS_CSV = 'input/students.csv'
COMPANIES_CSV = 'input/companies.csv'

def csv2dataframe(path): 
    return pd.read_csv(path, sep=',', index_col=0, lineterminator='\n')

def adquisition(): 
    students = csv2dataframe(STUDENTS_CSV)
    companies = csv2dataframe(COMPANIES_CSV)
    return students, companies

students, companies = adquisition()

# display(students), display(companies)

In [3]:
# normalizacion. Por columnas en alumnos o empresas hay un 0.0 y un 1.0

def normalize_2dfs(students, companies): 
    
    mins = [min(s, c) for s, c in zip(students.min(), companies.min())]
    students = students-mins
    companies = companies-mins
    
    maxs = [max(s, c) for s, c in zip(students.max(), companies.max())]
    students = students/maxs
    companies = companies/maxs
    
    return students, companies

students_norm, companies_norm = normalize_2dfs(students, companies)
# display(students_norm), display(companies_norm)

In [4]:
# Matching

# PESOS = (alumnos.columns)

P = [2,1,1,1,3,1,1,1,1,5]
W = {col: p for col, p in zip(students_norm.columns, P)}


def calc_dist(s_array, c_array, weights_val): 
    # https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cosine.html#scipy.spatial.distance.cosine
    return calc_match(distance.euclidean(s_array, c_array, weights_val))

def calc_match(distance): 
    return 1/(1+distance)

def match(student, company, weights=W): 
    return calc_dist(student, company, list(weights.values()))

In [5]:
# match(students_norm.loc['alumno1'], companies_norm.loc['empresa1'])

# Emparejamiento

En cada ronda se crea una pareja alumno-empresa empezando por el mejor %. Luego se pasa al siguente alumno. Si la empresa que hacía mejor match es la del caso anterior, pasa a su segundo mejor match, etc. 

En cada ronda se cambia el estudiante que elige primero, entre los que no han ido primeros

In [6]:
# !jupyter kernelspec list
# import sys
# sys.path

In [7]:
# create dataframe de tamañ0 SxC

matching = pd.DataFrame(np.zeros((len(students), len(companies))) , columns=companies.index, index=students.index)
matching.head()

empresas,empresa1,empresa2,empresa3,empresa4,empresa5,empresa6,empresa7,empresa8,empresa9,empresa10,...,empresa21,empresa22,empresa23,empresa24,empresa25,empresa26,empresa27,empresa28,empresa29,empresa30
alumnos,,,,,,,,,,,,,,,,,,,,,
alumno1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
matching.index, matching.columns

(Index(['alumno1', 'alumno2', 'alumno3', 'alumno4', 'alumno5', 'alumno6',
        'alumno7', 'alumno8', 'alumno9', 'alumno10', 'alumno11', 'alumno12',
        'alumno13', 'alumno14', 'alumno15', 'alumno16', 'alumno17', 'alumno18',
        'alumno19', 'alumno20', 'alumno21', 'alumno22', 'alumno23', 'alumno24',
        'alumno25', 'alumno26', 'alumno27', 'alumno28', 'alumno29', 'alumno30'],
       dtype='object', name='alumnos'),
 Index(['empresa1', 'empresa2', 'empresa3', 'empresa4', 'empresa5', 'empresa6',
        'empresa7', 'empresa8', 'empresa9', 'empresa10', 'empresa11',
        'empresa12', 'empresa13', 'empresa14', 'empresa15', 'empresa16',
        'empresa17', 'empresa18', 'empresa19', 'empresa20', 'empresa21',
        'empresa22', 'empresa23', 'empresa24', 'empresa25', 'empresa26',
        'empresa27', 'empresa28', 'empresa29', 'empresa30'],
       dtype='object', name='empresas'))

In [9]:
# matching.loc['alumno1', 'empresa3']

def calculate_match(matching, df1, df2): 
    # matching = pd.DataFrame(np.zeros((len(students), len(companies))) , columns=companies.index, index=students.index)

    for a in matching.index: 
        for c in matching.columns:
            # print(a, c)
            matching.loc[a, c] = match(df1.loc[a], df2.loc[c])
    return matching

matching = calculate_match(matching, students_norm, companies_norm)

# matching es una matriz de elementos entre [0, 1]
# matching.min().min(), matching.max().max()

matching

empresas,empresa1,empresa2,empresa3,empresa4,empresa5,empresa6,empresa7,empresa8,empresa9,empresa10,...,empresa21,empresa22,empresa23,empresa24,empresa25,empresa26,empresa27,empresa28,empresa29,empresa30
alumnos,,,,,,,,,,,,,,,,,,,,,
alumno1,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno2,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno3,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno4,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno5,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno6,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno7,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno8,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno9,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno10,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno11,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno12,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno13,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno14,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno15,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno16,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno17,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno18,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno19,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno20,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno21,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno22,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno23,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno24,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno25,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno26,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno27,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,...,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,1.000000,0.353046,0.195194,0.685813
alumno28,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,...,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.353046,1.000000,0.303895,0.421165
alumno29,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363
alumno30,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,...,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.195194,0.303895,1.000000,0.214363

In [10]:
# create csv de pruebas

df_pruebas = matching.copy()     
df1 = df_pruebas.iloc[:, :15].copy() # 30x15
df2 = df_pruebas.head(15).copy()     # 15x30
df3 = df_pruebas.copy()              # 30x30

df1.shape, df2.shape, df3.shape

((30, 15), (15, 30), (30, 30))

# Grafos

In [11]:
import networkx as nx
import matplotlib

# https://networkx.github.io/documentation/networkx-1.10/reference/introduction.html

def create_graph(df): 
    G_res=nx.Graph()
    for a in df.index: 
        for e in df.columns: 
            G_res.add_edge(a,e,weight=df.loc[a][e])
    return G_res

def plot_bipartite_graph(G): 
    X, Y = df1.index, df1.columns
    pos = dict()
    pos.update( (n, (1, i)) for i, n in enumerate(X) ) # put nodes from X at x=1
    pos.update( (n, (2, i)) for i, n in enumerate(Y) ) # put nodes from Y at x=2
    nx.draw(G, pos=pos)

# sort por peso DESCENCENTE

def get_best_match(G, node, used): 
    # sort por peso DESCENCENTE
    for edge in sorted(G.edges(data=True), key=lambda x: - x[2]['weight']):
        if node in edge and all(u not in edge for u in used): 
            return edge
 
'''
def get_best_match2(G, node): 
    # sort por peso DESCENCENTE
    for edge in sorted(G.edges(data=True), key=lambda x: - x[2]['weight']):
        if node in edge: 
            return edge
'''        
# node1, node2, w

G = create_graph(df1)
students = df1.index
companies = df1.columns
# plot_bipartite_graph(G)

node1, node2, w = get_best_match(G, 'empresa3', ['alumno3'])
node1, node2, w

('empresa3', 'alumno6', {'weight': 1.0})

# más alumnos que empresas favoreciendo empresas

In [12]:
RONDAS = 10
MESAS = min(len(students), len(companies))
MESAS

rondas = []

for ronda in range(RONDAS): 
    aux = []
    used = []
    for company in companies: 
        # print(company)
        node1, node2, w = get_best_match(G, company, used)
        # print(node1, node2, w)
        aux.append((node1, node2, w))
        G.remove_edge(node1, node2)
        if node1 == company: 
            used.append(node2)
        else: 
            used.append(node1)
    rondas.append(aux)
    
rondas

[[('alumno1', 'empresa1', {'weight': 1.0}),
  ('empresa2', 'alumno2', {'weight': 1.0}),
  ('empresa3', 'alumno3', {'weight': 1.0}),
  ('empresa4', 'alumno4', {'weight': 1.0}),
  ('empresa5', 'alumno5', {'weight': 1.0}),
  ('empresa6', 'alumno6', {'weight': 1.0}),
  ('empresa7', 'alumno7', {'weight': 1.0}),
  ('empresa8', 'alumno8', {'weight': 1.0}),
  ('empresa9', 'alumno9', {'weight': 1.0}),
  ('empresa10', 'alumno10', {'weight': 1.0}),
  ('empresa11', 'alumno11', {'weight': 1.0}),
  ('empresa12', 'alumno12', {'weight': 1.0}),
  ('empresa13', 'alumno13', {'weight': 1.0}),
  ('empresa14', 'alumno14', {'weight': 1.0}),
  ('empresa15', 'alumno15', {'weight': 1.0})],
 [('empresa1', 'alumno4', {'weight': 1.0}),
  ('empresa2', 'alumno5', {'weight': 1.0}),
  ('empresa3', 'alumno6', {'weight': 1.0}),
  ('alumno1', 'empresa4', {'weight': 1.0}),
  ('empresa5', 'alumno2', {'weight': 1.0}),
  ('empresa6', 'alumno3', {'weight': 1.0}),
  ('empresa7', 'alumno10', {'weight': 1.0}),
  ('empresa8', 'alumno12', {'weight': 1.0}),
  ('empresa9', 'alumno13', {'weight': 1.0}),
  ('empresa10', 'alumno7', {'weight': 1.0}),
  ('empresa11', 'alumno14', {'weight': 1.0}),
  ('empresa12', 'alumno8', {'weight': 1.0}),
  ('empresa13', 'alumno9', {'weight': 1.0}),
  ('empresa14', 'alumno11', {'weight': 1.0}),
  ('empresa15', 'alumno18', {'weight': 1.0})],
 [('empresa1', 'alumno7', {'weight': 1.0}),
  ('empresa2', 'alumno8', {'weight': 1.0}),
  ('empresa3', 'alumno9', {'weight': 1.0}),
  ('empresa4', 'alumno10', {'weight': 1.0}),
  ('empresa5', 'alumno12', {'weight': 1.0}),
  ('empresa6', 'alumno13', {'weight': 1.0}),
  ('alumno1', 'empresa7', {'weight': 1.0}),
  ('empresa8', 'alumno2', {'weight': 1.0}),
  ('empresa9', 'alumno3', {'weight': 1.0}),
  ('empresa10', 'alumno4', {'weight': 1.0}),
  ('empresa11', 'alumno17', {'weight': 1.0}),
  ('empresa12', 'alumno5', {'weight': 1.0}),
  ('empresa13', 'alumno6', {'weight': 1.0}),
  ('empresa14', 'alumno20', {'weight': 1.0}),
  ('empresa15', 'alumno22', {'weight': 1.0})],
 [('empresa1', 'alumno10', {'weight': 1.0}),
  ('empresa2', 'alumno12', {'weight': 1.0}),
  ('empresa3', 'alumno13', {'weight': 1.0}),
  ('empresa4', 'alumno7', {'weight': 1.0}),
  ('empresa5', 'alumno8', {'weight': 1.0}),
  ('empresa6', 'alumno9', {'weight': 1.0}),
  ('empresa7', 'alumno4', {'weight': 1.0}),
  ('empresa8', 'alumno5', {'weight': 1.0}),
  ('empresa9', 'alumno6', {'weight': 1.0}),
  ('alumno1', 'empresa10', {'weight': 1.0}),
  ('empresa11', 'alumno20', {'weight': 1.0}),
  ('empresa12', 'alumno2', {'weight': 1.0}),
  ('empresa13', 'alumno3', {'weight': 1.0}),
  ('empresa14', 'alumno17', {'weight': 1.0}),
  ('empresa15', 'alumno25', {'weight': 1.0})],
 [('empresa1', 'alumno11', {'weight': 1.0}),
  ('empresa2', 'alumno15', {'weight': 1.0}),
  ('empresa3', 'alumno16', {'weight': 1.0}),
  ('empresa4', 'alumno14', {'weight': 1.0}),
  ('empresa5', 'alumno18', {'weight': 1.0}),
  ('empresa6', 'alumno19', {'weight': 1.0}),
  ('empresa7', 'alumno17', {'weight': 1.0}),
  ('empresa8', 'alumno22', {'weight': 1.0}),
  ('empresa9', 'alumno23', {'weight': 1.0}),
  ('empresa10', 'alumno20', {'weight': 1.0}),
  ('alumno1', 'empresa11', {'weight': 1.0}),
  ('empresa12', 'alumno25', {'weight': 1.0}),
  ('empresa13', 'alumno26', {'weight': 1.0}),
  ('empresa14', 'alumno4', {'weight': 1.0}),
  ('empresa15', 'alumno2', {'weight': 1.0})],
 [('empresa1', 'alumno14', {'weight': 1.0}),
  ('empresa2', 'alumno18', {'weight': 1.0}),
  ('empresa3', 'alumno19', {'weight': 1.0}),
  ('empresa4', 'alumno11', {'weight': 1.0}),
  ('empresa5', 'alumno15', {'weight': 1.0}),
  ('empresa6', 'alumno16', {'weight': 1.0}),
  ('empresa7', 'alumno20', {'weight': 1.0}),
  ('empresa8', 'alumno25', {'weight': 1.0}),
  ('empresa9', 'alumno26', {'weight': 1.0}),
  ('empresa10', 'alumno17', {'weight': 1.0}),
  ('empresa11', 'alumno4', {'weight': 1.0}),
  ('empresa12', 'alumno22', {'weight': 1.0}),
  ('empresa13', 'alumno23', {'weight': 1.0}),
  ('alumno1', 'empresa14', {'weight': 1.0}),
  ('empresa15', 'alumno5', {'weight': 1.0})],
 [('empresa1', 'alumno17', {'weight': 1.0}),
  ('empresa2', 'alumno22', {'weight': 1.0}),
  ('empresa3', 'alumno23', {'weight': 1.0}),
  ('empresa4', 'alumno20', {'weight': 1.0}),
  ('empresa5', 'alumno25', {'weight': 1.0}),
  ('empresa6', 'alumno26', {'weight': 1.0}),
  ('empresa7', 'alumno11', {'weight': 1.0}),
  ('empresa8', 'alumno15', {'weight': 1.0}),
  ('empresa9', 'alumno16', {'weight': 1.0}),
  ('empresa10', 'alumno14', {'weight': 1.0}),
  ('empresa11', 'alumno7', {'weight': 1.0}),
  ('empresa12', 'alumno18', {'weight': 1.0}),
  ('empresa13', 'alumno19', {'weight': 1.0}),
  ('empresa14', 'alumno10', {'weight': 1.0}),
  ('empresa15', 'alumno8', {'weight': 1.0})],
 [('empresa1', 'alumno20', {'weight': 1.0}),
  ('empresa2', 'alumno25', {'weight': 1.0}),
  ('empresa3', 'alumno26', {'weight': 1.0}),
  ('empresa4', 'alumno17', {'weight': 1.0}),
  ('empresa5', 'alumno22', {'weight': 1.0}),
  ('empresa6', 'alumno23', {'weight': 1.0}),
  ('empresa7', 'alumno14', {'weight': 1.0}),
  ('empresa8', 'alumno18', {'weight': 1.0}),
  ('empresa9', 'alumno19', {'weight': 1.0}),
  ('empresa10', 'alumno11', {'weight': 1.0}),
  ('empresa11', 'alumno10', {'weight': 1.0}),
  ('empresa12', 'alumno15', {'weight': 1.0}),
  ('empresa13', 'alumno16', {'weight': 1.0}),
  ('empresa14', 'alumno7', {'weight': 1.0}),
  ('empresa15', 'alumno12', {'weight': 1.0})],
 [('empresa1', 'alumno21', {'weight': 1.0}),
  ('empresa2', 'alumno28', {'weight': 1.0}),
  ('empresa3', 'alumno29', {'weight': 1.0}),
  ('empresa4', 'alumno24', {'weight': 1.0}),
  ('alumno1', 'empresa5', {'weight': 0.3530460865038523}),
  ('empresa6', 'alumno30', {'weight': 1.0}),
  ('empresa7', 'alumno27', {'weight': 1.0}),
  ('empresa8', 'alumno4', {'weight': 0.3530460865038523}),
  ('empresa9', 'alumno2', {'weight': 0.3038946312581242}),
  ('empresa10', 'alumno5', {'weight': 0.3530460865038523}),
  ('empresa11', 'alumno8', {'weight': 0.3530460865038523}),
  ('empresa12', 'alumno7', {'weight': 0.3530460865038523}),
  ('empresa13', 'alumno12', {'weight': 0.3038946312581242}),
  ('empresa14', 'alumno15', {'weight': 0.3530460865038523}),
  ('empresa15', 'alumno10', {'weight': 0.3530460865038523})],
 [('empresa1', 'alumno24', {'weight': 1.0}),
  ('alumno1', 'empresa2', {'weight': 0.3530460865038523}),
  ('empresa3', 'alumno30', {'weight': 1.0}),
  ('empresa4', 'alumno21', {'weight': 1.0}),
  ('empresa5', 'alumno28', {'weight': 1.0}),
  ('empresa6', 'alumno29', {'weight': 1.0}),
  ('empresa7', 'alumno2', {'weight': 0.3530460865038523}),
  ('empresa8', 'alumno7', {'weight': 0.3530460865038523}),
  ('empresa9', 'alumno5', {'weight': 0.3038946312581242}),
  ('empresa10', 'alumno27', {'weight': 1.0}),
  ('empresa11', 'alumno12', {'weight': 0.3530460865038523}),
  ('empresa12', 'alumno4', {'weight': 0.3530460865038523}),
  ('empresa13', 'alumno8', {'weight': 0.3038946312581242}),
  ('empresa14', 'alumno18', {'weight': 0.3530460865038523}),
  ('empresa15', 'alumno11', {'weight': 0.3530460865038523})]]

In [13]:
nx.draw(G)

/home/alberto/.local/lib/python3.6/site-packages/networkx/drawing/nx_pylab.py:611: MatplotlibDeprecationWarning: isinstance(..., numbers.Number)
  if cb.is_numlike(alpha):

In [14]:
G.edges()

EdgeView([('alumno1', 'empresa3'), ('alumno1', 'empresa6'), ('alumno1', 'empresa8'), ('alumno1', 'empresa9'), ('alumno1', 'empresa12'), ('alumno1', 'empresa13'), ('alumno1', 'empresa15'), ('empresa1', 'alumno2'), ('empresa1', 'alumno3'), ('empresa1', 'alumno5'), ('empresa1', 'alumno6'), ('empresa1', 'alumno8'), ('empresa1', 'alumno9'), ('empresa1', 'alumno12'), ('empresa1', 'alumno13'), ('empresa1', 'alumno15'), ('empresa1', 'alumno16'), ('empresa1', 'alumno18'), ('empresa1', 'alumno19'), ('empresa1', 'alumno22'), ('empresa1', 'alumno23'), ('empresa1', 'alumno25'), ('empresa1', 'alumno26'), ('empresa1', 'alumno27'), ('empresa1', 'alumno28'), ('empresa1', 'alumno29'), ('empresa1', 'alumno30'), ('empresa2', 'alumno3'), ('empresa2', 'alumno4'), ('empresa2', 'alumno6'), ('empresa2', 'alumno7'), ('empresa2', 'alumno9'), ('empresa2', 'alumno10'), ('empresa2', 'alumno11'), ('empresa2', 'alumno13'), ('empresa2', 'alumno14'), ('empresa2', 'alumno16'), ('empresa2', 'alumno17'), ('empresa2', 'alumno19'), ('empresa2', 'alumno20'), ('empresa2', 'alumno21'), ('empresa2', 'alumno23'), ('empresa2', 'alumno24'), ('empresa2', 'alumno26'), ('empresa2', 'alumno27'), ('empresa2', 'alumno29'), ('empresa2', 'alumno30'), ('empresa3', 'alumno2'), ('empresa3', 'alumno4'), ('empresa3', 'alumno5'), ('empresa3', 'alumno7'), ('empresa3', 'alumno8'), ('empresa3', 'alumno10'), ('empresa3', 'alumno11'), ('empresa3', 'alumno12'), ('empresa3', 'alumno14'), ('empresa3', 'alumno15'), ('empresa3', 'alumno17'), ('empresa3', 'alumno18'), ('empresa3', 'alumno20'), ('empresa3', 'alumno21'), ('empresa3', 'alumno22'), ('empresa3', 'alumno24'), ('empresa3', 'alumno25'), ('empresa3', 'alumno27'), ('empresa3', 'alumno28'), ('empresa4', 'alumno2'), ('empresa4', 'alumno3'), ('empresa4', 'alumno5'), ('empresa4', 'alumno6'), ('empresa4', 'alumno8'), ('empresa4', 'alumno9'), ('empresa4', 'alumno12'), ('empresa4', 'alumno13'), ('empresa4', 'alumno15'), ('empresa4', 'alumno16'), ('empresa4', 'alumno18'), ('empresa4', 'alumno19'), ('empresa4', 'alumno22'), ('empresa4', 'alumno23'), ('empresa4', 'alumno25'), ('empresa4', 'alumno26'), ('empresa4', 'alumno27'), ('empresa4', 'alumno28'), ('empresa4', 'alumno29'), ('empresa4', 'alumno30'), ('empresa5', 'alumno3'), ('empresa5', 'alumno4'), ('empresa5', 'alumno6'), ('empresa5', 'alumno7'), ('empresa5', 'alumno9'), ('empresa5', 'alumno10'), ('empresa5', 'alumno11'), ('empresa5', 'alumno13'), ('empresa5', 'alumno14'), ('empresa5', 'alumno16'), ('empresa5', 'alumno17'), ('empresa5', 'alumno19'), ('empresa5', 'alumno20'), ('empresa5', 'alumno21'), ('empresa5', 'alumno23'), ('empresa5', 'alumno24'), ('empresa5', 'alumno26'), ('empresa5', 'alumno27'), ('empresa5', 'alumno29'), ('empresa5', 'alumno30'), ('empresa6', 'alumno2'), ('empresa6', 'alumno4'), ('empresa6', 'alumno5'), ('empresa6', 'alumno7'), ('empresa6', 'alumno8'), ('empresa6', 'alumno10'), ('empresa6', 'alumno11'), ('empresa6', 'alumno12'), ('empresa6', 'alumno14'), ('empresa6', 'alumno15'), ('empresa6', 'alumno17'), ('empresa6', 'alumno18'), ('empresa6', 'alumno20'), ('empresa6', 'alumno21'), ('empresa6', 'alumno22'), ('empresa6', 'alumno24'), ('empresa6', 'alumno25'), ('empresa6', 'alumno27'), ('empresa6', 'alumno28'), ('empresa7', 'alumno3'), ('empresa7', 'alumno5'), ('empresa7', 'alumno6'), ('empresa7', 'alumno8'), ('empresa7', 'alumno9'), ('empresa7', 'alumno12'), ('empresa7', 'alumno13'), ('empresa7', 'alumno15'), ('empresa7', 'alumno16'), ('empresa7', 'alumno18'), ('empresa7', 'alumno19'), ('empresa7', 'alumno21'), ('empresa7', 'alumno22'), ('empresa7', 'alumno23'), ('empresa7', 'alumno24'), ('empresa7', 'alumno25'), ('empresa7', 'alumno26'), ('empresa7', 'alumno28'), ('empresa7', 'alumno29'), ('empresa7', 'alumno30'), ('empresa8', 'alumno3'), ('empresa8', 'alumno6'), ('empresa8', 'alumno9'), ('empresa8', 'alumno10'), ('empresa8', 'alumno11'), ('empresa8', 'alumno13'), ('empresa8', 'alumno14'), ('empresa8', 'alumno16'), ('empresa8', 'alumno17'), ('empresa8', 'alumno19'), ('empresa8', 'alumno20'), ('empresa8', 'alumno21'), ('empresa8', 'alumno23'), ('empresa8', 'alumno24'), ('empresa8', 'alumno26'), ('empresa8', 'alumno27'), ('empresa8', 'alumno28'), ('empresa8', 'alumno29'), ('empresa8', 'alumno30'), ('empresa9', 'alumno4'), ('empresa9', 'alumno7'), ('empresa9', 'alumno8'), ('empresa9', 'alumno10'), ('empresa9', 'alumno11'), ('empresa9', 'alumno12'), ('empresa9', 'alumno14'), ('empresa9', 'alumno15'), ('empresa9', 'alumno17'), ('empresa9', 'alumno18'), ('empresa9', 'alumno20'), ('empresa9', 'alumno21'), ('empresa9', 'alumno22'), ('empresa9', 'alumno24'), ('empresa9', 'alumno25'), ('empresa9', 'alumno27'), ('empresa9', 'alumno28'), ('empresa9', 'alumno29'), ('empresa9', 'alumno30'), ('empresa10', 'alumno2'), ('empresa10', 'alumno3'), ('empresa10', 'alumno6'), ('empresa10', 'alumno8'), ('empresa10', 'alumno9'), ('empresa10', 'alumno12'), ('empresa10', 'alumno13'), ('empresa10', 'alumno15'), ('empresa10', 'alumno16'), ('empresa10', 'alumno18'), ('empresa10', 'alumno19'), ('empresa10', 'alumno21'), ('empresa10', 'alumno22'), ('empresa10', 'alumno23'), ('empresa10', 'alumno24'), ('empresa10', 'alumno25'), ('empresa10', 'alumno26'), ('empresa10', 'alumno28'), ('empresa10', 'alumno29'), ('empresa10', 'alumno30'), ('empresa11', 'alumno2'), ('empresa11', 'alumno3'), ('empresa11', 'alumno5'), ('empresa11', 'alumno6'), ('empresa11', 'alumno9'), ('empresa11', 'alumno13'), ('empresa11', 'alumno15'), ('empresa11', 'alumno16'), ('empresa11', 'alumno18'), ('empresa11', 'alumno19'), ('empresa11', 'alumno21'), ('empresa11', 'alumno22'), ('empresa11', 'alumno23'), ('empresa11', 'alumno24'), ('empresa11', 'alumno25'), ('empresa11', 'alumno26'), ('empresa11', 'alumno27'), ('empresa11', 'alumno28'), ('empresa11', 'alumno29'), ('empresa11', 'alumno30'), ('empresa12', 'alumno3'), ('empresa12', 'alumno6'), ('empresa12', 'alumno9'), ('empresa12', 'alumno10'), ('empresa12', 'alumno11'), ('empresa12', 'alumno13'), ('empresa12', 'alumno14'), ('empresa12', 'alumno16'), ('empresa12', 'alumno17'), ('empresa12', 'alumno19'), ('empresa12', 'alumno20'), ('empresa12', 'alumno21'), ('empresa12', 'alumno23'), ('empresa12', 'alumno24'), ('empresa12', 'alumno26'), ('empresa12', 'alumno27'), ('empresa12', 'alumno28'), ('empresa12', 'alumno29'), ('empresa12', 'alumno30'), ('empresa13', 'alumno2'), ('empresa13', 'alumno4'), ('empresa13', 'alumno5'), ('empresa13', 'alumno7'), ('empresa13', 'alumno10'), ('empresa13', 'alumno11'), ('empresa13', 'alumno14'), ('empresa13', 'alumno15'), ('empresa13', 'alumno17'), ('empresa13', 'alumno18'), ('empresa13', 'alumno20'), ('empresa13', 'alumno21'), ('empresa13', 'alumno22'), ('empresa13', 'alumno24'), ('empresa13', 'alumno25'), ('empresa13', 'alumno27'), ('empresa13', 'alumno28'), ('empresa13', 'alumno29'), ('empresa13', 'alumno30'), ('empresa14', 'alumno2'), ('empresa14', 'alumno3'), ('empresa14', 'alumno5'), ('empresa14', 'alumno6'), ('empresa14', 'alumno8'), ('empresa14', 'alumno9'), ('empresa14', 'alumno12'), ('empresa14', 'alumno13'), ('empresa14', 'alumno16'), ('empresa14', 'alumno19'), ('empresa14', 'alumno21'), ('empresa14', 'alumno22'), ('empresa14', 'alumno23'), ('empresa14', 'alumno24'), ('empresa14', 'alumno25'), ('empresa14', 'alumno26'), ('empresa14', 'alumno27'), ('empresa14', 'alumno28'), ('empresa14', 'alumno29'), ('empresa14', 'alumno30'), ('empresa15', 'alumno3'), ('empresa15', 'alumno4'), ('empresa15', 'alumno6'), ('empresa15', 'alumno7'), ('empresa15', 'alumno9'), ('empresa15', 'alumno13'), ('empresa15', 'alumno14'), ('empresa15', 'alumno16'), ('empresa15', 'alumno17'), ('empresa15', 'alumno19'), ('empresa15', 'alumno20'), ('empresa15', 'alumno21'), ('empresa15', 'alumno23'), ('empresa15', 'alumno24'), ('empresa15', 'alumno26'), ('empresa15', 'alumno27'), ('empresa15', 'alumno28'), ('empresa15', 'alumno29'), ('empresa15', 'alumno30')])