In [1]:
# Imports
import numpy as np
import pandas as pd

# pip3 install pandas ipython jupyter

In [2]:
# Alumnos

students = pd.read_csv('input/students.csv', sep=',', index_col=0, lineterminator='\n')
students.head()

# students.loc['alumno1', 'attr2']

         attr1  attr2  attr3  attr4  attr5  attr6  attr7  attr8  attr9  attr10
alumnos
alumno1      0      1      2      3      4      5      6      7      8       9
alumno2      1      2      3      4      5      6      7      8      9      10
alumno3      2      3      4      5      6      7      8      9     10      11
alumno4      3      4      5      6      7      8      9     10     11      12
alumno5      4      5      6      7      8      9     10     11     12      13

In [3]:
# empresas

companies = pd.read_csv('input/companies.csv', sep=',', index_col=0, lineterminator='\n')
companies.head()

,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr10
empresas,,,,,,,,,,
empresa1,0,1,2,3,4,5,6,7,8,9
empresa2,1,2,3,4,5,6,7,8,9,10
empresa3,2,3,4,5,6,7,8,9,10,11
empresa4,3,4,5,6,7,8,9,10,11,12
empresa5,4,5,6,7,8,9,10,11,12,13

In [14]:
# Matching

# PESOS = (alumnos.columns)
PESOS = {'attr1' : 2, 
         'attr2' : 1, 
         'attr3' : 1, 
         'attr4' : 1, 
         'attr5' : 3, 
         'attr6' : 1, 
         'attr7' : 1, 
         'attr8' : 1,
         'attr9' : 1, 
         'attr10' : 3
        }

def distancia_ponderada(a, b, p): 
    return p*(a-b)**2

def match(student, company, weights=PESOS): 
    res = sum([distancia_ponderada(x, y, p) for x, y, p in zip(student, company, weights.values())])
    return res

In [15]:
match(students.loc['alumno2'], companies.loc['empresa1'])

15

# Emparejamiento

En cada ronda se crea una pareja alumno-empresa empezando por el mejor %. Luego se pasa al siguente alumno. Si la empresa que hacía mejor match es la del caso anterior, pasa a su segundo mejor match, etc. 

En cada ronda se cambia el estudiante que elige primero, entre los que no han ido primeros

In [6]:
# !jupyter kernelspec list
# import sys
# sys.path

In [7]:
# https://es.wikipedia.org/wiki/Sistema_de_todos_contra_todos

In [8]:
# create dataframe de tamañ0 SxC

matching = pd.DataFrame(np.zeros((len(students), len(companies))) , columns=companies.index, index=students.index)
matching.head()

empresas,empresa1,empresa2,empresa3,empresa4,empresa5,empresa6,empresa7,empresa8,empresa9,empresa10
alumnos,,,,,,,,,,
alumno1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
alumno5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
matching.index, matching.columns

(Index(['alumno1', 'alumno2', 'alumno3', 'alumno4', 'alumno5', 'alumno6',
        'alumno7', 'alumno8', 'alumno9', 'alumno10', 'alumno11', 'alumno12',
        'alumno13', 'alumno14'],
       dtype='object', name='alumnos'),
 Index(['empresa1', 'empresa2', 'empresa3', 'empresa4', 'empresa5', 'empresa6',
        'empresa7', 'empresa8', 'empresa9', 'empresa10'],
       dtype='object', name='empresas'))

In [13]:
# matching.loc['alumno1', 'empresa3']

for a in matching.index: 
    for c in matching.columns:
        # print(a, c)
        matching.loc[a, c] = match(students.loc[a], companies.loc[c])
matching.head()

empresas,empresa1,empresa2,empresa3,empresa4,empresa5,empresa6,empresa7,empresa8,empresa9,empresa10
alumnos,,,,,,,,,,
alumno1,0.0,15.0,60.0,135.0,240.0,375.0,540.0,735.0,960.0,1215.0
alumno2,15.0,0.0,15.0,60.0,135.0,240.0,375.0,540.0,735.0,960.0
alumno3,60.0,15.0,0.0,15.0,60.0,135.0,240.0,375.0,540.0,735.0
alumno4,135.0,60.0,15.0,0.0,15.0,60.0,135.0,240.0,375.0,540.0
alumno5,240.0,135.0,60.0,15.0,0.0,15.0,60.0,135.0,240.0,375.0

In [11]:
# matching.loc['alumno1', 'empresa3'] = 444
# matching

list(students.loc['alumno1'])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]