# Tinder para empresas

## Imports

In [1]:
# Imports

import numpy as np
import pandas as pd
from random import choice, shuffle
from beautifultable import BeautifulTable

from func_encuestas import web_translate_csv# , DIC_COMPANIES, DIC_STUDENTS
from func_matching import calculate_match

In [2]:
def adquisition_survey(bootcamp, companies_filename, students_filename):
    if bootcamp == 'web': 
        companies_enc = web_translate_csv(bootcamp, 'companies', companies_filename)
        print('ok')
        students_enc = web_translate_csv(bootcamp, 'students', students_filename)
    return companies_enc, students_enc

def save_clean_dfs(): 
    pass

def get_args(): 
    # TO DO con argparse
    bootcamp = 'web'
    companies_filename = './encuestas/Web Company Form (Responses) .csv'
    students_filename = './encuestas/Web Student Form (Responses) .csv'
    rondas = '11'
    '''
# otra fuente: https://github.com/ironhack-datalabs/datamad0419/blob/fba777c11c06d85b63118b3f64201438335ee273/module-1/pipelines-project/your-code/ejecutar.py    

import argparse
    
    
#Para pasar los valores de los paises
parser = argparse.ArgumentParser(description='Genera un gráfico comparando los datos de los paises eligidos')
parser.add_argument('--p1', dest = 'pais1',
                    default = 'Italy',
                    help = 'País 1 para la comparación')
parser.add_argument('--p2', dest = 'pais2',
                    default = 'France',
                    help = 'País 2 para la comparación') 
parser.add_argument('-v', dest = 'ver',
                    default = 0,
                    type = int,
                    help = 'Ver gráfica')                                        

args = parser.parse_args()
    '''
    
    return (bootcamp, companies_filename, students_filename, rondas)

# normalizacion. Por columnas en alumnos o empresas hay un 0.0 y un 1.0
def normalize_2dfs_xx(students, companies): 
    # print(students.min(), companies.max())
    
    mins = [min(s, c) for s, c in zip(students.min(), companies.min())]    
    maxs = [max(s, c) for s, c in zip(students.max(), companies.max())]
    if any(m==0 for m in maxs): 
        raise ValueError('Imposible normalizar: Va a dividir por Zero')
    students = (students-mins)/(maxs-mins) # checkear indeterminación
    companies = (companies-mins)/(maxs-mins)
    
    return students, companies

# FUNCIONA
# normalizacion. Por columnas en alumnos o empresas hay un 0.0 y un 1.0
def normalize_2dfs(students, companies): 
    # print(students.min(), companies.max())
    
    mins = [min(s, c) for s, c in zip(students.min(), companies.min())]
    students = students-mins
    companies = companies-mins
    
    # maxs = [max(s, c, 1) for s, c in zip(students.max(), companies.max())]
    maxs = [max(s, c) for s, c in zip(students.max(), companies.max())]
    if any(m==0 for m in maxs): 
        raise ValueError('Imposible normalizar: Va a dividir por Zero')
    students = students/maxs
    companies = companies/maxs
    
    return students, companies

In [3]:
def main(): 
    # Toma de argumentos. 
    bootcamp, companies_filename, students_filename, rondas = get_args()
    
    # DFs limpios
    companies, students = adquisition_survey(bootcamp, companies_filename, students_filename)
    display(companies.head())
    display(students.head())
    
    # Testing
    display(companies.columns == students.columns)
    
    students, companies = normalize_2dfs(students, companies)
    display(companies.head())
    display(students.head())
    
    # TO DO: crear la tabla matching
 # matching.shape
    matching = calculate_match(students, companies, bootcamp)
    display(matching)
    # TO DO: en función de las rondas y el n-students y n-companies hacer los emparejamientos
    
    
    # TO DO: muestra de datos en excel a gusto de A Rojas
     
    

if __name__=='__main__':
    main()

ok

,english,spanish,portuguese,french,dutch,catalan,location,offsite,position,java,...,sql,angular,vue,firebase,aws,dockerkubernetes,design,motivation,coachability,teamwork
name,,,,,,,,,,,,,,,,,,,,,
Movetia,1,5,1,1,1,2,2,1,5,3,...,3,2,3,3,2,2,3,3,2,1
Exoticca,4,4,1,1,1,1,1,2,6,3,...,2,2,2,2,2,2,2,1,3,2
The Hotels Network,4,4,1,1,1,1,1,2,5,1,...,2,1,2,1,2,2,2,2,3,1
Volcanic Internet,5,5,1,1,1,3,2,3,4,2,...,3,2,2,2,1,2,2,1,2,3
CAPITOLE CONSULTING,5,5,1,1,1,4,2,1,8,2,...,3,3,3,2,2,2,3,1,3,2

,english,spanish,portuguese,french,dutch,catalan,location,offsite,position,java,...,sql,angular,vue,firebase,aws,dockerkubernetes,design,motivation,coachability,teamwork
name,,,,,,,,,,,,,,,,,,,,,
Maria Cristina Blanco,5,5,1,2,1,1,3,2,9,1,...,1,1,1,1,1,1,3,1,2,3
Eugenio Ruiz Cepeda,2,5,1,1,1,1,1,2,5,1,...,1,1,1,1,1,1,2,3,2,1
Moisés García Almeida,3,5,1,1,1,3,2,2,4,1,...,3,1,1,2,2,1,2,2,3,1
Nira Alonso Rodríguez,3,5,2,1,1,1,1,2,5,1,...,1,1,1,1,1,1,2,3,2,1
Nerea Aparicio,3,5,1,1,1,1,2,2,5,1,...,1,1,1,1,1,1,2,1,3,2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

,english,spanish,portuguese,french,dutch,catalan,location,offsite,position,java,...,sql,angular,vue,firebase,aws,dockerkubernetes,design,motivation,coachability,teamwork
name,,,,,,,,,,,,,,,,,,,,,
Movetia,0.00,1.00,0.0,0.0,0.0,0.25,0.5,0.000000,0.444444,1.0,...,1.0,0.5,1.0,1.0,1.0,0.5,1.0,1.0,0.5,0.0
Exoticca,0.75,0.75,0.0,0.0,0.0,0.00,0.0,0.333333,0.555556,1.0,...,0.5,0.5,0.5,0.5,1.0,0.5,0.5,0.0,1.0,0.5
The Hotels Network,0.75,0.75,0.0,0.0,0.0,0.00,0.0,0.333333,0.444444,0.0,...,0.5,0.0,0.5,0.0,1.0,0.5,0.5,0.5,1.0,0.0
Volcanic Internet,1.00,1.00,0.0,0.0,0.0,0.50,0.5,0.666667,0.333333,0.5,...,1.0,0.5,0.5,0.5,0.0,0.5,0.5,0.0,0.5,1.0
CAPITOLE CONSULTING,1.00,1.00,0.0,0.0,0.0,0.75,0.5,0.000000,0.777778,0.5,...,1.0,1.0,1.0,0.5,1.0,0.5,1.0,0.0,1.0,0.5

,english,spanish,portuguese,french,dutch,catalan,location,offsite,position,java,...,sql,angular,vue,firebase,aws,dockerkubernetes,design,motivation,coachability,teamwork
name,,,,,,,,,,,,,,,,,,,,,
Maria Cristina Blanco,1.00,1.0,0.00,0.5,0.0,0.0,1.0,0.333333,0.888889,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,1.0
Eugenio Ruiz Cepeda,0.25,1.0,0.00,0.0,0.0,0.0,0.0,0.333333,0.444444,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,0.5,0.0
Moisés García Almeida,0.50,1.0,0.00,0.0,0.0,0.5,0.5,0.333333,0.333333,0.0,...,1.0,0.0,0.0,0.5,1.0,0.0,0.5,0.5,1.0,0.0
Nira Alonso Rodríguez,0.50,1.0,0.25,0.0,0.0,0.0,0.0,0.333333,0.444444,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,0.5,0.0
Nerea Aparicio,0.50,1.0,0.00,0.0,0.0,0.0,0.5,0.333333,0.444444,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,1.0,0.5

{'english': 1, 'spanish': 1, 'portuguese': 1, 'french': 1, 'dutch': 1, 'catalan': 1, 'location': 1, 'offsite': 1, 'position': 5, 'java': 5, 'caspnet': 5, 'python': 5, 'php': 5, 'sql': 5, 'angular': 5, 'vue': 5, 'firebase': 5, 'aws': 5, 'dockerkubernetes': 5, 'design': 5, 'motivation': 1, 'coachability': 1, 'teamwork': 1}

name,Movetia,Exoticca,The Hotels Network,Volcanic Internet,CAPITOLE CONSULTING,Farmaconnect,C14TORCE,AKKA,Bit Genoma Digital Solutions SL,Norwegian,Bluekik,InboundCycle,Bit Genoma Digital Solutions,ONEBOX,Atomian,SEAT,Project Lobster,Visyon (Estudio Bay SL)
name,,,,,,,,,,,,,,,,,,
Maria Cristina Blanco,0.149602,0.169521,0.202552,0.197018,0.150097,0.182744,0.227730,0.396757,0.387426,0.181818,0.169521,0.387426,0.212400,0.194910,0.210526,0.196360,0.314520,0.181818
Eugenio Ruiz Cepeda,0.151102,0.171579,0.209428,0.188955,0.146983,0.185615,0.221783,0.344962,0.346325,0.178910,0.171777,0.331803,0.206587,0.191637,0.213551,0.199688,0.331613,0.180907
Moisés García Almeida,0.186359,0.196081,0.251322,0.228800,0.173162,0.208710,0.297767,0.327353,0.346350,0.202552,0.215161,0.357226,0.254709,0.191674,0.258984,0.249360,0.363666,0.249360
Nira Alonso Rodríguez,0.148628,0.168434,0.203537,0.190269,0.145270,0.181589,0.224009,0.355275,0.348331,0.180011,0.168083,0.331803,0.206587,0.192459,0.214722,0.195194,0.333333,0.180907
Nerea Aparicio,0.147204,0.169891,0.203537,0.194683,0.146636,0.183448,0.227730,0.332141,0.376179,0.181818,0.169530,0.354847,0.210897,0.188202,0.210158,0.196360,0.314520,0.182744
Francisco Leston Ramos,0.171008,0.181187,0.208785,0.225793,0.170841,0.207013,0.238007,0.339257,0.387426,0.197550,0.190282,0.419386,0.220481,0.189821,0.240253,0.217129,0.348331,0.203868
Sergio Ortega Gil,0.170074,0.203537,0.235294,0.256966,0.163144,0.251979,0.247440,0.449745,0.387426,0.217129,0.203868,1.000000,0.229668,0.213570,0.301350,0.213939,0.400000,0.218784
Mario Quiroga Cuervo,0.160613,0.192927,0.238007,0.201976,0.168434,0.183685,0.309017,0.373835,0.449490,0.198763,0.192927,0.373577,0.303832,0.212063,0.218367,0.238007,0.314520,0.212400
Daniel García Martínez,0.147321,0.169338,0.202227,0.196721,0.147326,0.184162,0.225844,0.348733,0.387426,0.180907,0.169340,0.376310,0.212400,0.192428,0.212021,0.195194,0.314520,0.181818
Carlos Eduardo Lores Hernández,0.146278,0.168976,0.201904,0.193548,0.145270,0.181589,0.224009,0.325520,0.387426,0.180907,0.168802,0.354847,0.212400,0.187185,0.209792,0.194050,0.309017,0.181818
Javier Requejo Melchor,0.154251,0.181589,0.202227,0.200698,0.149112,0.198457,0.225844,0.466134,0.387426,0.196360,0.173319,0.387426,0.212400,0.214727,0.217952,0.200000,0.314520,0.181818
Enrique Anaya Marin,0.160153,0.186359,0.209428,0.202951,0.154266,0.207638,0.227730,0.385394,0.387426,0.197550,0.176574,0.363899,0.212400,0.208817,0.220481,0.207992,0.314520,0.181818
Maria Isabel Llanes Agudelo,0.153046,0.171241,0.205973,0.207598,0.151243,0.194397,0.228692,0.310781,0.381652,0.194906,0.180294,0.388419,0.220481,0.184770,0.233196,0.198457,0.329923,0.197550
Daniel Herrero Hernando,0.240281,0.273506,0.294354,0.263681,0.243944,0.270008,0.426413,0.330942,0.668046,0.331613,0.252784,0.374351,0.376310,0.273062,0.264318,0.354713,0.387572,0.261241
Thilo Sperber,0.148148,0.167054,0.199447,0.192068,0.145376,0.179617,0.222222,0.400660,0.366025,0.179129,0.166881,0.353046,0.209428,0.193604,0.216722,0.192927,0.340542,0.179129
Carlos Martínez Crespo,0.170635,0.209083,0.234770,0.276291,0.167931,0.251322,0.260463,0.349236,0.466134,0.247440,0.207677,0.501553,0.266677,0.225587,0.328283,0.223564,0.396757,0.227260
Dan Mihai Grigoriciuc,0.154797,0.181364,0.202227,0.216407,0.148521,0.212021,0.225844,0.374351,0.387426,0.217129,0.180918,0.426674,0.212400,0.206002,0.236909,0.201263,0.314520,0.191825
Rodrigo Otero Montero,0.168434,0.189694,0.210531,0.214416,0.163014,0.227260,0.232687,0.355571,0.344383,0.215117,0.189448,0.357226,0.213555,0.205364,0.251322,0.214727,0.361331,0.197254
Verónica Celemín Lominchar,0.169338,0.185371,0.210526,0.216407,0.159394,0.218367,0.233715,0.536411,0.348331,0.215515,0.185615,0.400000,0.213939,0.220074,0.256808,0.207992,0.376179,0.196360
Abel Colmenares Napolitano,0.141911,0.165977,0.198763,0.186911,0.140983,0.178260,0.218367,0.426205,0.348331,0.181589,0.165977,0.348331,0.200000,0.198763,0.206241,0.192650,0.298935,0.177405
Javier Pérez-Chao Rodríguez,0.220053,0.301365,0.325028,0.292314,0.216362,0.284700,0.366025,0.374351,0.472136,0.247440,0.298994,0.572949,0.387426,0.230812,0.329923,0.348331,0.400000,0.303832
Jaime Jacobo Rodríguez del Valle,0.170820,0.192927,0.218784,0.225023,0.164961,0.231662,0.240253,0.444994,0.376179,0.220481,0.192927,0.444505,0.218784,0.212063,0.249352,0.218784,0.348331,0.198763
Patricia Defez Díaz de Sarralde,0.146738,0.169158,0.202227,0.194683,0.145721,0.178045,0.225844,0.332141,0.387426,0.180907,0.168802,0.363899,0.205213,0.188202,0.203207,0.194050,0.314520,0.181818
Isabel Rodríguez Godoy,0.160613,0.177455,0.217631,0.199035,0.159865,0.187924,0.238007,0.332141,0.376179,0.181818,0.177040,0.351071,0.210897,0.187748,0.210158,0.209428,0.348331,0.187613
Roberto Muñoz Aragón,0.153178,0.170487,0.205630,0.196623,0.150097,0.183976,0.229668,0.430717,0.430501,0.192927,0.170674,0.361816,0.217129,0.217651,0.216317,0.197550,0.340542,0.183685
Sofia Jordan,0.140578,0.166667,0.197550,0.190476,0.141393,0.178910,0.220053,0.384642,0.376179,0.182744,0.166667,0.373545,0.203868,0.193781,0.203537,0.191825,0.288832,0.178260
Alfonso Silva Feria,0.161080,0.174122,0.213555,0.222763,0.156357,0.207642,0.230665,0.339508,0.373577,0.199688,0.186384,0.388013,0.218372,0.187726,0.256817,0.204541,0.373577,0.199692
Alfredo Hinarejos Corbeá,0.149234,0.169338,0.202227,0.195839,0.150221,0.186356,0.225844,0.376310,0.387426,0.180907,0.169521,0.387426,0.212400,0.198472,0.213551,0.194050,0.314520,0.181818
Baltasar Torres Garcia,0.147673,0.166667,0.198763,0.192160,0.144812,0.179129,0.218367,0.406922,0.373545,0.177194,0.167366,0.376179,0.210897,0.196070,0.213551,0.190476,0.331613,0.179129

In [4]:
'''
COMPANIES_CLEAN_CSV = './encuestas/companies.csv'
STUDENTS_CLEAN_CSV = './encuestas/students.csv'


companies_enc = web_translate_csv(path=COMPANIES_ENCUESTAS_CSV, dic=DIC_COMPANIES)
# salvamos el csv limpio
companies_enc.to_csv(COMPANIES_CLEAN_CSV, index=True)

students_enc = web_translate_csv(path=STUDENTS_ENCUESTAS_CSV, dic=DIC_STUDENTS)
# salvamos el csv limpio
students_enc.to_csv(STUDENTS_CLEAN_CSV, index=True)
'''

'''
students_enc.head()
companies_enc.head()
# Testing
companies_enc.columns == students_enc.columns

'''

'''
def csv2dataframe(filepath): 
    return pd.read_csv(filepath, sep=',', index_col=0, lineterminator='\n')

def adquisition(s_clean_csv, c_clean_csv): 
    students = csv2dataframe(s_clean_csv)
    companies = csv2dataframe(c_clean_csv)
    return students, companies

students, companies = adquisition(STUDENTS_CLEAN_CSV, COMPANIES_CLEAN_CSV)
'''

"\ndef csv2dataframe(filepath): \n    return pd.read_csv(filepath, sep=',', index_col=0, lineterminator='\n')\n\ndef adquisition(s_clean_csv, c_clean_csv): \n    students = csv2dataframe(s_clean_csv)\n    companies = csv2dataframe(c_clean_csv)\n    return students, companies\n\nstudents, companies = adquisition(STUDENTS_CLEAN_CSV, COMPANIES_CLEAN_CSV)\n"

## Tratado de los CSVs

# Grafos

In [5]:
import networkx as nx
import matplotlib

# https://networkx.github.io/documentation/networkx-1.10/reference/introduction.html

def create_graph(df): 
    G_res=nx.Graph()
    for a in df.index: 
        for c in df.columns: 
            
            G_res.add_edge(a ,c, weight=df.loc[a][c])
            print(a , c, df.loc[a][c])
    return G_res

def plot_bipartite_graph(G, set_X, set_Y): 
    X, Y = set_X, set_Y # df1.index, df1.columns
    pos = dict()
    pos.update( (n, (1, i)) for i, n in enumerate(X) ) # put nodes from X at x=1
    pos.update( (n, (2, i)) for i, n in enumerate(Y) ) # put nodes from Y at x=2
    nx.draw(G, pos=pos)

    '''
def get_best_match2(G, node): 
    # sort por peso DESCENCENTE
    for edge in sorted(G.edges(data=True), key=lambda x: - x[2]['weight']):
        if node in edge: 
            return edge
'''    
# sort por peso DESCENCENTE

def get_best_match(G, node, used): 
    print(node)
    # sort por peso DESCENCENTE
    for edge in sorted(G.edges(data=True), key=lambda x: - x[2]['weight']):
        if node in edge and all(u not in edge for u in used): 
            # return edge
            res = edge
            break
    else: 
        # elegimos uno random??
        options = [(node1, node2, w) for node1, node2, w in list(G.edges(data=True)) if node1 not in used and node2 not in used]
        aleatorio = choice(options)
        # print(aleatorio)
        # print("No hay emparejamiento posible") 
        # print(used)
        
        # return aleatorio
        res = aleatorio
    
    node1, node2, w = res
    return node1, node2, w['weight']

# favorecemos a los estudiantes. más alumnos que empresas

In [6]:
df_pruebas = matching.copy()     

G = create_graph(df_pruebas)
students_list = df_pruebas.index
companies_list = df_pruebas.columns

# plot_bipartite_graph(G, students_list, companies_list)
# G.edges()

NameError: name 'matching' is not defined

In [ ]:
lista = list(students_list)
shuffle(lista)
student_queue = lista * RONDAS # vamos a recorrer la lista para ir emparejando

In [ ]:
matching.head()

In [ ]:
rondas = []

for r in range(RONDAS): 
    print(r)
    aux = []
    used = []
    while len(used) < 2 * len(companies): # ahora used tiene el doble de tamaño. Hay que modificarlo
        
        # estoy hay que modificarlo si o si, no me gusta como queda
        student = student_queue.pop(0) 
        
        print(student)
        node1, node2, w = get_best_match(G, student, used) # creo que se queda sin opciones
        
        # aux.append((node1, node2, w))
        G.remove_edge(node1, node2)
        used.extend([node1, node2])
        
    
        # el nodo1 es la compañía (nodo1 no es estudiante)
        if node1 != student: 
            # used.append(node1)
            aux.append((node1, node2, w))
        # nodo2 es la compañía
        else: 
            # used.append(node2)
            aux.append((node2, node1, w))
        # print(used)
    rondas.append(aux)
        
rondas

In [ ]:
def check_rondas(rondas): 
    res = []
    for ronda in rondas: 
        companies = [company for company, student, w in ronda]
        students = [student for company, student, w in ronda]
        res.append(len(set(companies)) == len(set(students)) )
    return all(e for e in res)
            
check_rondas(rondas)

In [ ]:
def rondas2string(rondas):
    res = ''
    for i, ronda in enumerate(rondas): 
        res += '\n\nRonda {}'.format(i)
        for c, s, w in ronda: 
            res += '\nCompany: {} -> Student: {} -> Matching: {}'.format(c, s, w)
        
    return res
        
        
text = rondas2string(rondas)

with open("Rondas.txt", "w") as f:
    f.write(text)

In [ ]:
# beautifultable

table = BeautifulTable()
table.column_headers = ["ronda", "company", "student", "match"]
for i, ronda in enumerate(rondas): 
    for row in ronda: 
        table.append_row([i, row[0], row[1], row[2]])
        
# print(table)

with open("Rondas_table.txt", "w") as f:
    f.write(str(table))

In [ ]:
# agrupadas por compañía: 

table = BeautifulTable()
table.column_headers = ["company", "ronda", "student", "match"]

for company in companies_list: 
    for i, ronda in enumerate(rondas): 
        for row in ronda: 
            if row[0] == company: 
                table.append_row([row[0], i, row[1], row[2]])
        
# print(table)

with open("Rondas_table_by_company.txt", "w") as f:
    f.write(str(table))

In [ ]:
table = BeautifulTable()
table.column_headers = ["student", "company", "ronda", "match"]

for student in students_list: 
    for i, ronda in enumerate(rondas): 
        for row in ronda: 
            if row[1] == student: 
                table.append_row([row[1], row[0], i, row[2]])
'''

'''    
with open("Rondas_table_by_student.txt", "w") as f:
    f.write(str(table))

In [ ]:
student_rounds = {}

for student in students_list: 
    total = 0
    for ronda in rondas: 
        for row in ronda: 
            if row[1] == student: 
                total += 1
    student_rounds[student] = total

student_rounds

In [ ]:
print(min(student_rounds.values()), max(student_rounds.values()))

In [ ]:
x = 6
print(x%2 == 0)